<div class="container">
    <div class="sub-container">
        <div class="product-title">
            <h1>
                {{product.name}}
            </h1>
        </div>
        <div id="single-product">
            <div class="single-product">
                <div id="p4-s">
                    <div id="p3-s">
                        <h1>Price: R$ {{product.price}}</h1>
                        <h2>Description: {{product.description}}</h2>
                        <div id="product-form">
                            <form action="/products/edit/{{product._id}}" method="get">
                                <input type="submit" value="Edit" class="btn-default">
                            </form>
                            <form action="/products/delete" method="post">
                                <input type="hidden" name="_id" value="{{product._id}}">
                                <input type="submit" value="Delete" class="btn-default">
                            </form>
                        </div>
                    </div>
                    <div id="p1-s">
                        <img src="{{product.urlImage}}" alt="Image of a {{product.name}}">
                    </div>
                </div>
            </div>
        </div>
        <div id="return">
            <a href="/products">Return</a>
        </div>
    </div>
</div>